<div id="contact-content">
  <h1>Contact</h1>
  <h2 id="contact-accroche">Démarrons un projet ensemble, contactez moi !</h2>

  <div class="contact-boxes">

    <div class="contact-box">
      <h3>Mon mail</h3>
      <div id="mail-box">
        <a href="mailto:chaumulon.cassandra@gmail.com"><img src="assets/contact/mail.png" alt="logo mail "></a>
        <p>chaumulon.cassandra@gmail.com</p>
      </div>
    </div>

    <div class="contact-box">
      <h3>Mon CV</h3>
      <div id="btn-download-cv">
        <a href="assets/CV_CHAUMULON_Cassandra.pdf" download>Télécharger</a>
      </div>
    </div>

    <div class="contact-box">
      <h3>Restons en contact</h3>
      <div id="logos-social-medias">
        <a href="https://www.linkedin.com/in/cassandrachaumulon/" target="_blank" rel="noopener noreferrer">
          <img src="assets/contact/linkedin.png" alt="logo de LinkedIn">
        </a>
        <a href="https://github.com/CassandraCH" target="_blank" rel="noopener noreferrer">
          <img src="assets/contact/github.png" alt="logo de github">
        </a>
      </div>
    </div>
  </div>

</div>
