<div id="about-content">
  <div id="about-photo">
    <img id="photo" src="assets/photo.jpg" alt="photo de cassandra">
  </div>
  <div id="about-description">
    <h1>Présentation</h1>

    <div id="about-text">
      <p>Sed sed diam. Nam nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean risus est, porttitor vel, placerat sit amet, vestibulum sit amet, nibh. Ut faucibus justo quis nisl.</p>
      <p>Vulputate, sapien eu egestas rutrum, leo neque luctus dolor, sed hendrerit tortor metus ut dui. Etiam id pede porttitor turpis tristique lacinia. Suspendisse potenti. Etiam feugiat.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras gravida sem ut massa. Quisque accumsan porttitor dui.</p>
      <p>Sed interdum, nisl ut consequat tristique, lacus nulla porta massa, sed imperdiet sem nunc vitae eros. </p>
    </div>
  </div>
</div>
