header {
    background-color: #1A3C55;
    width: 100%;
    height: 60px;
    position: fixed;
    transition: 0.8s;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo-box {  margin-left: 5%; }

#navbar-box { width: 100%; }

#logo {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color: #E1E7E9;
}

#logo:hover{ color: #AEDED6; }
