<div class="box">
  <div class="projects-box">
    <img class="" src="{{project.image}}" alt="...">
  </div>
  <div class="projects-description">
    <h2 class="projects-name"> {{ project.name }}</h2>
    <h3 class="projects-type">{{ project.type }}</h3>
    <p class="projects-informations"> {{ project.informations }}</p>
    <p class="projects-technologies">{{ project.technologies.join(" | ")}}</p>
    <div class="projects-link">
      <a href="{{ project.link }}">Voir le code source</a>
    </div>
  </div>
</div>
